<div id="votes">
    <p>
        <%= @movie.likes.size %> <%= t('out_of') %> <%= @movie.votes.size %> <%= t('think_like') %>
    </p>
    <p>
        <%= @movie.dislikes.size %> <%= t('out_of') %> <%= @movie.votes.size %> <%= t('think_dislike') %>
    </p>
</div>