<% if user_signed_in? %>

  <%= t "hello_with_user", username: current_user.username %>

<%= link_to t('sign_out'), destroy_user_session_path, method: :delete, 
                                                   data: { confirm: t('alert_sure') } %>

<% else %>

  <%= t "hello_without_user" %>

<%= link_to t('sign_in'), new_user_session_path %>

<% end %>



<h1><%= t('listing_movies') %></h1>

<table>
  <thead>
    <tr>
      <th> <%= t('title') %> </th>
      <th> <%= t('year') %> </th>
      <th> <%= t('duration') %> </th>
      <th> <%= t('synopsis') %> </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <%= content_tag_for :tr, @movies do |movie| %>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.duration %></td>
        <td><%= movie.synopsis %></td>
        <td><%= link_to t('link_show'), movie %></td>
        <% if policy(movie).update? %>
          <td><%= link_to t('link_edit'), edit_movie_path(movie) %></td>
        <% end %>
        <% if policy(movie).destroy? %>
         <td><%= link_to t('link_destroy'), movie, method: :delete, remote:true, data: { confirm: t('alert_sure') } %></td>
        <% end %>
      <% end %>
  </tbody>
</table>

<br>

<% if policy(Movie.new).create? %>
  <%= link_to t('link_new_movie'), new_movie_path %>
<% end %>

<br>
<br>
<br>
<br>





